<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resumen de Pagos</title>
</head>
<body>
    <h1>Resumen de Pagos</h1>
    {% if data %}
        {% for banco, pagos in data.items %}
            <h2>El banco es {{ banco }}</h2>
            <ul>
                {% for pago in pagos %}
                    <li>Fecha: {{ pago.fecha }} - NIT: {{ pago.NIT_cliente }} - Monto: Q. {{ pago.monto }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% else %}
        <p>No se encontraron pagos para el mes especificado.</p>
    {% endif %}
    <h2>Gráfica de Ingresos</h2>
    {% if image_base64 %}
        <img src="data:image/png;base64,{{ image_base64 }}">
    {% else %}
        <p>No hay datos para mostrar</p>
    {% endif %}
    <a href="/">Volver a Inicio</a>
</body>
</html>
