body {
    background-color: #B0B0B0;
    color: 000000;
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1, h2 {
    color: #000000;
}

button {
    background-color: #fff;
    color: #000000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #FFA500;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
